*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body{
    background-color: var(--white);
}

:root{
  --white: #fff;
  --secondary-white: #eeeeee;
  --semi-white: #dbddda;
  --gray: #D8D9DA;
  --dark-green: #34701d;
  --light-green: #6cbc4c;
  --dark: #363636;
  --darker: #0F0F0F;
  --orange: #FF8225;
  --red: #C40C0C;
  --blue: #0B60B0;
}


::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-green);
}

body{
  overflow: hidden;
}


.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.image-container, .form-container {
  width: 50%;
}


.image-container img{
  width:100%;
  height: 100%;
  object-fit: cover;
}

.logo-title{
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'platypi', sans-serif;
  color: var(--light-green);
  text-transform: capitalize;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

form{
  width: 100%;
  padding: 0 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.account-form{
  flex-direction: row;
  justify-content: space-between;
}

.form-group label{
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.5);
}

.form-group input, select{
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  padding: 1rem;
  padding-left: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  background-color: rgba(221, 221, 221, 0.5);
}

.form-group select{
  text-transform: capitalize;
}

.form-group a{
  text-decoration: underline;
  color: var(--darker);
}

.form-group a:active{
  color: var(--blue);
}

.button-group{
  width: 100%;
  margin-top: 1rem;
}

.button-group button{
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--light-green);
  border: none;
  border-radius: 4px;
  outline: none;
}

.button-group button:active{
  background-color: var(--dark-green);
}



.form-group #showPassword,
.form-group #hidePassword {
    position: absolute;
    top: 60%;
    right: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
}

.fa-eye-slash {
    display: none;
}



.btnBack{
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: var(--white);
  background-color: var(--light-green);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success{
  color: var(--dark-green);
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  border: 1px solid rgb(108, 188, 76, 1);
  background-color: rgb(108, 188, 76, 0.3);
  text-align: center;
}


.alert{
  color: var(--red);
  font-size: 1rem;
  font-weight: 500;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(215, 1, 1, 0.5);
  background-color: rgba(250, 0, 0, 0.2);
  text-align: center;
}

#error-container{
  display: none;
  z-index: 6;
  color: white;
  background-color: rgb(134, 2, 2);
  position: absolute;
  top: 0;
  border-radius: 0;
}


#success-container{
  display: none;
  z-index: 6;
  color: white;
  background-color: var(--light-green);
  position: absolute;
  top: 0;
  border-radius: 0;
}

#error-container.fadeOut{
  opacity: 0;
}

#error-container.fadeIn{
  opacity: 1;
}



#success-container.fadeOut{
  opacity: 0;
}

#success-container.fadeIn{
  opacity: 1;
}


.settings-popup-overlay{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.settings-popup-container{
  height: 65vh;
  width: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  padding: 20px;
  z-index: 2;
}

.security-confirmation{
  display: none;
}


.settings-popup-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.settings-popup-header{
  display: flex;
  flex-direction: column;
}

.settings-popup-form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settings-popup-form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settings-popup-form-group input{
  padding: 1rem 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--darker);
}

.settings-popup-form-group input:focus{
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.settings-popup-form-group input:hover{
  border: 1px solid rgba(0, 0, 0, 0.9);
}


.settings-popup-form-group label{
  font-size: 1rem;
  font-weight: 500;
  color: var(--darker);
  
}

.settings-popup-button button{
  margin-top: 0.5rem;
  display: block;
  width: 100%;
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--light-green);
  color: var(--white);
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  outline: none;
}


.settings-popup-button button:active{
  background-color: var(--dark-green);
}

.popup-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  object-fit: cover;
  z-index: 2;
  display: none;
}

.pop-up-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 40px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: none;
}

.popup-confirmation-container{
  width: 450px;
}

.pop-up-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pop-up-content i{
  font-size: 1.5rem;
  color: var(--red);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--semi-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up-content h1{
  font-size: 1rem;
  color: var(--darker);
  text-align: center;
}


.pop-up-buttons{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pop-up-buttons a{
  font-size: 0.9rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 4px;
}

.btn-first{
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}

.btn-second{
  color: var(--darker);
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-first:active{
  background-color: #7b0303;
}

.btn-second:active{
  background-color: var(--dark-green);
  color: var(--white);
  border: 1px solid var(--dark-green);
}


.btnCancel{
  color: var(--darker);
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btnConfirm{
  background-color: #04c001;
  color: var(--white);
  border: 1px solid #04c001;
}

.btnConfirm:active{
  background-color: #048f02;
  border: 1px solid #048f02;
}

.btnCancel:active{
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--red);
}



@media (max-width:385px){
  .logo-title{
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 385px) and (max-width:500px){
  .logo-title{
    font-size: 2rem;
  }
}


@media (max-width:630px){
  .btnBack{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
  }
  form{
    padding: 0 5%;
  }
}




@media (max-width:955px){
  .image-container{
    display: none;
  }

  .form-container{
    width: 100%;
  }
}


@media screen and (min-width: 955px) and (max-width: 1230px){
  .image-container img{
    width: 100%;
  }
  
  form{
    padding: 0 5%;
  }
}